@page "/meeting/{id}"


<div class="font-bold underline mt-5">Meeting Attendance Register</div>

@_date

<section class="flex-1 overflow-auto py-2 mt-2 flex">
    <div class="flex flex-col space-y-3 border p-2 flex-1">
        <div class="grid grid-cols-1 md:grid-cols-2">
            @if (_employees is not null)
            {
                @foreach (var employee in _employees)
                {
                    <div class="w-full flex justify-middle space-x-10 space-y-5">
                        <div class="my-auto w-48">
                            @employee.Name @employee.Surname
                        </div>
                        <div class="my-auto">
                            @if (employee.Id is not null && Id is not null)
                            {
                                <div class="my-auto flex">
                                    <SigningPad SaveDataUrl="@Save" MeetingId="@Id" EmployeeId="@employee.Id.Value" Id="@employee.Name"/>
                                    <LoadSelect Id="@employee.Id.Value" Statuses="@_statuses" EmployeeId="@employee.Id.Value" MeetingId="@int.Parse(Id)" Callback="@UpdateStatus"></LoadSelect>
                                </div>
                            }
 
                        </div>
                    </div>
                }
            }
            else
            {
                <div>Loading...</div>
            }
        </div>
    </div>
</section>

<section class="flex flex-col w-full my-3 space-y-3">
    <div class="flex space-x-5">
        <div>
            <label for="speaker">Company</label>
            <input @bind="@_speaker" class="border-2 border-gray-400 px-2 w-full focus:outline-none focus:border-2 focus:border-blue-500 rounded-lg" id="speaker" type="text">
        </div>
        <div>
            <label for="company">Company</label>
            <input @bind="@_company" class="border-2 border-gray-400 px-2 w-full focus:outline-none focus:border-2 focus:border-blue-500 rounded-lg" id="company" type="text">
        </div>
    </div>

    <label for="topic">Topic</label>
    <input @bind="@_topic" class="border-2 border-gray-400 px-2 rounded-lg focus:outline-none focus:border-2 focus:border-blue-500" id="topic" type="text">
    <div class="flex space-x-5">
        <div>
            <label class="my-auto" for="product-training">Product Training</label>
            <input @bind="@_productTraining" class="my-auto" id="product-training" type="checkbox">
        </div>

        <div>
            <label class="my-auto" for="asset-management">Asset Management Presentation</label>
            <input @bind="@_assetManagementPresentation" class="my-auto" id="asset-management" type="checkbox">
        </div>

        <div>
            <label class="my-auto" for="internal-training">Internal Training</label>
            <input @bind="@_internalTraining" class="my-auto" id="internal-training" type="checkbox">
        </div>
    </div>
        <div>
            <button class="p-2 pl-5 pr-5 bg-blue-500 text-gray-100 text-lg rounded-lg border-white border-4 hover:border-blue-300 focus:border-blue-300" @onclick="@(() => { SendToServer(); })">End Meeting</button>
        </div>
</section>
