@page "/report/{meetingId}"

<div class="flex w-full h-full">
    <div class="space-y-3">
        @if (Meeting is not null)
        {
            <div class="space-y-2 my-2">
                <h1 class="text-3xl">@Meeting.FirstOrDefault()?.Name</h1>
                <h2 class="text-xl">Speaker: @Meeting.FirstOrDefault()?.Speaker</h2>
                <p class="text-xl">Topic: @Meeting.FirstOrDefault()?.Topic</p>
            </div>
        }
        else
        {
            <div>Loading...</div>
        }

        @if (FinalReports is not null)
        {
            if (FinalReports.Count > 0)
            {
                @foreach (var report in FinalReports)
                {
                    <div class="flex space-x-5">
                        <div>
                            @report.Employee.Name @report.Employee.Surname
                        </div>
                        <div>
                            @report.Attendance.Status
                        </div>
                        <div class="h-10 w-10">
                            <img class="object-cover h-full w-full" src="@report.Signature.DataUrl" alt="">
                        </div>
                    </div>
                }
                <button @onclick="@(async () => { await EmailReport(); })" class="mt-5 w-24 border border-blue-500 rounded-lg bg-blue-500 text-white">Email Report</button>
            }
        }
        else
        {
            <div>Loading...</div>
        }
    </div>
</div>